.info {
    background-color: $bgcolor;
    color: #fff;
    padding-top: 143px;
    padding-bottom: 142px;
    background-image: url("../img/mobile.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 390px) 18%;
    background-size: 618px 493px;

    &__container {
        max-width: 1056px;
        margin-left: auto;
        margin-right: auto;
    }
}

.info__list {
    margin: 0;
    padding: 0;  
    list-style-type: none;
    margin-bottom: 60px;
}

.info__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.info__liste {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 127px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 940px) {
    .info__title {
        font-size: 26px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 1139px) {
    .info {
        display: flex;
        flex-direction: column;
        background-position: center 61%;
    }

    .info__title {
        text-align: center;
    }
}

@media only screen and (max-width: 830px) {
    .info {
        background-position: center 65%;
        background-size: 75%;
    }
}

@media only screen and (max-width: 720px) {
    .info__liste {
        flex-direction: column;
    }

    .info {
        background-position: center 48%;
        background-size: 85%;
    }
}

@media only screen and (max-width: 490px) {    
    .info__title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 490px) {
    .info {
        background-position: center 45%;
    }
}