.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: normal;
}

.navbar__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
}

.navbar__item + .navbar__item {
    margin-left: 22px;
}

.navbar__link {
    text-decoration: none;
    color: $navbar-color;
    font-size: 16px;
    line-height: 19px;

    &:hover {
        color: $navbar-hover;
    }
}

.header--open .navbar__link {
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.header--open .navbar__item {
    display: block;
    margin-left: 12%;
}

.header--open .navbar__item:not(:last-child) {
    margin-bottom: 25px;
}

.header--open .navbar__item:last-child {
    display: block;
}

.header--open .navbar__item:nth-child(2) {
    display: block;
}

.header--open .navbar__item:nth-child(4) {
    display: block;
}


@media only screen and (max-width: 1239px) {
    .navbar__link {
        font-size: 14px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 1096px) {
    .navbar__item:last-child {
        display: none;
    }

    .navbar {
        margin-left: auto;
    }
}

@media only screen and (max-width: 1096px) {
    .navbar__item:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 932px) {
    .navbar__item:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 842px) {
    .navbar__item:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .navbar {
        display: none;
    }

    .navbar__link:hover {
        color: $navbar-hover;
    }
}

