.working-item {
    max-width: 500px;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 45px;
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: #212B31;
    }

    &__text {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #72787D;
    }

    &--first {
        display: flex;

        &::before {
            content: "1";
            width: 40px;
            height: 40px;
            font-size: 16px;
            line-height: 19px;
            color: #72787D;
            text-align: center;
            padding: 10px 15px;
            margin-right: 32px;
            background-color: #fff;
            border: 1px solid #DADEDF;
            box-sizing: border-box;
        }
    }

    &--second {
        display: flex;

        &::before {
            content: "2";
            width: 40px;
            height: 40px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #72787D;
            padding: 10px 15px;
            margin-right: 32px;
            background-color: #fff;
            border: 1px solid #DADEDF;
            box-sizing: border-box;
        }
    }

    &--third {
        display: flex;

        &::before {
            content: "3";
            width: 40px;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 19px;
            color: #72787D;
            padding: 10px 15px;
            margin-right: 32px;
            background-color: #fff;
            border: 1px solid #DADEDF;
            box-sizing: border-box;
        }
    }

    &--fourth {
        display: flex;

        &::before {
            content: "4";
            width: 40px;
            height: 40px;
            font-size: 16px;
            line-height: 19px;
            color: #72787D;
            padding: 10px 15px;
            margin-right: 32px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #DADEDF;
            box-sizing: border-box;
        }
    }


}


@media only screen and (max-width: 842px) {
    .working-item {
        max-width: 570px;
    }
}